<%- include("partials/header.ejs") %><!--This form is used to add new books in the database-->
<div class="container form-styling">
<form action="/register" method="post">

    <label class="mb-3" for="title">Enter the title of your book.</label><br>
    <input class="mb-3" id="title" name="title" size="100" type="text" placeholder="Type the title" required><br>
    <label class="mb-3" for="isbn">Enter the ISBN number of the book.</label><br>
    <input class="mb-3" id="isbn" type="text" size="100" name="isbn" placeholder="Type the ISBN number" required><br>
    <label class="mb-3" for="reviews">Enter your reviews on this book.</label><br>
    <textarea class="mb-3" id="reviews" name="reviews" cols="100" rows="10" placeholder="Enter your reviews" required></textarea><br>
    <label class="mb-3" for="rating">Give your rating.</label><br>
    <select class="mb-3" name="rate" style="width: 760px;" id="rating"  required>
        <option selected value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select><br>
    <label class="mb-3" for="date">Enter the date.</label> <br>
    <input type="date" class="mb-3" id="date" name="date" required><br>
    <input type="submit" class="btn btn-primary mb-3 btn-lg" value="Submit">

</form>
</div>
<%- include("partials/footer.ejs") %>